.gallery img {

  box-sizing: border-box;
  float: left;
  height: 250px;
  width: 25%; /* 20 x 4 equals 80, dividing images to four in a row (hopefully) */    
  padding: 5px;

}

body {

  background-color: #faff6b;

}
