.gallery {
  
  display: flex; /* flexbox layout for gallery container */
  flex-wrap: wrap; /* allows the images to wrap */

}

.gallery img {

  width: 20%; /* 20 x 4 equals 80, dividing images to four in a row (hopefully) */ 
  height: auto; /* maintains aspect ratio */ 
  margin: 5px; /* adds spacing to the images */ 
  border: 1px solid #000; /* adds a border to the images */
  padding: 5px; /*adds spacing or something, I dont know yet */ 

}
